@import "../../../../../styles/constants.module.scss";
.price {
  display: flex;
  align-items: flex-end;
  margin-top: 7px;
  margin-bottom: 13px;
  > div {
    font-weight: 600;
    color: $color_black;
    font-size: 22px;
    margin-right: 3px;
  }
  > span {
    color: $color_moderate_green;
    font-weight: 400;
    font-size: 12px;
  }
}
