$color_black: rgba(46, 46, 51, 1);
$color_yellow: #ffdc38;
$color_asphalt: #636b7f;
$color_green: #00b177;
$color_red: rgba(255, 0, 0, 1);
$color_grey: #f5f5f7;
$color_orange: #f26a61;
$color_moderate_green: #999999;
